
.countdown-time{
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.countdown-time__display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 30px;
}

.countdown-time__content > div{
  font-size: 32px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  margin: 10px;
}

.countdown-time__content{
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
}

.countdown-time__unit{
  font-size: 14px;
}